body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #198754;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.header-text{
  text-align: center;
  width: 100%;
}

.header-text h1{
  font-size: 1.2rem;
  color: #f9f9f9;
}

section{
  height: calc(100vh - 67px);
  overflow: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header h5 {
  font-size: 1.25rem;
  margin: 0 0 10px 0;
}

.card-description {
  flex-grow: 1;
  margin-bottom: 10px;
}

.card-description h5 {
  font-size: 0.875rem;
  color: #555;
  margin: 0 0 5px 0;
}

.card-description h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.card-footer {
  font-size: 0.875rem;
  color: #888;
}

.text-success {
  color: #28a745;
}

.no-margin {
  margin: 0;
}

.small {
  font-size: 0.875rem;
}

.hint-text {
  color: #6c757d;
}

.product-card {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.product-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.product-info h5 {
  margin: 0;
  font-size: 1rem;
}

.product-info p {
  margin: 0;
  font-size: 0.875rem;
}


/* Central CSS file for Hamburger */

.hamburger {
  width: 12px;
  height: 3px;
  background-color: #333;
  margin: 2px 0;
  transition: 0.4s;
}

.hamburger-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 20px;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 250px;
  /* height: calc(100vh - 42px); */
  height: 100%;
}

.menu a, .menu button {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  display: block;
}

.menu a:hover, .menu button:hover {
  background-color: #ddd;
}

.show {
  display: flex;
}

.rotate1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.rotate2 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.hide {
  opacity: 0;
}

/* Ending of the CSS file */

.footer{
  border-top: 1px solid #dedede;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  margin: 0 15px;
}